node_modules
.expo
.expo-shared
.git
.github
.idea
.vscode

dist
web-build
build
coverage

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

*.zip
*.tar
*.tar.gz

eas-inspect
eas-inspect*

android/.gradle
android/app/build
android/build

ios/build